*{
    margin: 0;
    padding: 0;
}

.you{
    display: flex;
}
.I{
    width: 70vw;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft{
    width: 380px;
    position: absolute;
    left: 170px;
    top: 100px;
}

.us{
    width: 380px;
    position: absolute;
    left: 250px;
    bottom: 90px;
}

.me{
    width: 30vw;
    height: 100vh;
    background-color: white;
}



.we{
    height: 50%;
    width: 50%;
    background-color: black;
    
    
}



.btn{
    width: 65%;
    height: 25px;
    border-radius: 5px;
    background-color: navy;
    color: white;
}